/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



nav {
    height: 50px;
    width: 100%;
    position: fixed;
    background: white;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
  
}

.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-icons {
    margin-left: 10px;
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.cta-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    border: 0;
    background-color: #567b95;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 10px;
}

.wrapper {
    padding-top: 60px;
    
}

.content {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    
}

.content > * {
    grid-column: 2 / span 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 20px 0;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    padding:  30px 0;
    font-style: italic;
}
.content img {
    display: grid;

    grid-column: 1 / -1;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
   
}

.content .small {
    max-width: 600px;
}

.quote {
    font-weight: 700;
    padding: 20px 0;
}

.inflation {
    grid-column: 1 / -1;
    width: 945px;
    height: 576px;
    background-size: cover;
    margin: 0 auto;
    background-image: url(images/main2.png);
}

.inflation-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 144px );
}

.inflation-paras {
    
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.inflation-paras p {
    width: 225px;
}

.inflation-paras b {
    font-weight: 700;
}

.inflation-paras.para1 {
    grid-row: 2/ 3;
    display: flex;  
    justify-content: space-between;

}

.inflation-paras.para2 {
    grid-row: 4/ 5;
    display: flex;  
    justify-content: space-between;

}

.footnote {
    font-size: .8rem;
    font-weight: 300;
    line-height: 0.8rem;
    margin: 20px 0;
}

.topline {
    display: flex;
    justify-content: space-between;
}


.articles {
    display: grid;
    grid-template-areas: 
       
        "more   more    text-links"
        "more   more    text-links"
        "editor editor  text-links";
    max-width: 1200px;
    margin: 0 auto;
}

.articles  img {
    /* width: 230px; */
    /* height: 153px; */
    width: 100%;
    height: auto;
    color: #333;
}

.articles a:hover {
    color: gray;
}

.more {
    grid-area: more;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-header, .text-header {
    flex-basis: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-top: 1px solid black;
    padding: 15px 0;


}



.more-links, .editor-links {
    max-width: 275px;
    min-width: 200px;
}

.pic-links-text {
    display: flex;
    flex-direction: column;
}

.pic-links-text > p:first-of-type     {
    align-self: flex-end;
    right: 0;
    font-weight: 100;
    font-size: 10px;
    
}

.pic-links-text > p:last-of-type     {

    font-weight: 100;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

.pic-links-text > a {
    color: #333;
    text-decoration: none;
    line-height: 1.44rem;
    /* font-weight: 500;  */
}

.text-links {
    grid-area: text-links;
    max-width: 315px;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-links-list > a {
    color: #333;
    border-top: 1px solid gray;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.18rem;
    line-height: 1.44rem;
    font-weight: 500;
}


.editor {
    
    grid-area: editor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links {
    height: 500px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
}

.big-links-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px 50px;
}

.big-links-container h3 {
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 700;
    height: 25px;
    width: 150px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.big-links-header {
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    margin: 0 50px;
    padding-top: 10px;
    border-top: 4px double gray;
}

.link-column {
    display: flex;
    flex-direction: column;
}

.link-column > * {
    display: block;
}

#sub-links a {
    font-weight: bold; 
    line-height: 25px;
}



footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 80px;
    margin-bottom: 60px;
    
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    

}

footer a {
    color: grey;
    text-decoration: none;
    
}

.footer a:hover, .links a:hover {
    text-decoration: underline;
}